h2 🦁🐩Uppdatera djuren🐯🐈
form action="/animals" method="post"
    input name="new_animal" placeholder="Sök på djur" type="text"
    input name="amount" placeholder="Välj antalet djur" type="number"
    input type="submit" value="Lägg till!"