h2 🍌🍇Uppdatera din frukt🍉🍎
form action="/fruits" method="post"
    input name="new_fruit" placeholder="Sök på frukt" type="text"
    input name="amount" placeholder="Sök på annan frukt" type="number"
    input type="submit" value="Lägg till!"